body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}


h1 {
    color: #343a40c9;
}

/**************colone2 paintball page ***************/
.left-colonne-2, .right-colonne {
  width: 45%;
  background-color: #4d638571;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
